<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ScanlyPrivacyPolicyURL</key>
	<string>https://scanly.app/privacy</string>
	<key>ScanlyTermsOfUseURL</key>
	<string>https://scanly.app/terms</string>
</dict>
</plist>
